.employeePage {
    padding: 20px 40px;
}

.employeeImage {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #b3b3b3;
}

.tableDiv {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    padding: 20px 40px;
    border: 1px solid grey;
    background-color: #ececec;
}

.employeeTableRow td {
    border-top: 1px solid #5f5f5f;
    border-bottom: 1px solid #5f5f5f;
    padding: 10px;
    background-color: #ffffff;
}

.employeeTableRow td:first-child {
    border-left: 1px solid #5f5f5f;
    border-radius: 10px 0 0 10px;
    background-color: #ffffff;
}

.employeeTableRow td:last-child {
    border-right: 1px solid #5f5f5f;
    border-radius: 0 10px 10px 0;
    background-color: #ffffff;
}

.employeeTableCell {
    text-align: center;
    width: calc(100% / 5);
    font-size: 17px;
    line-height: 1.5;
    font-weight: 500;
}

.lastCell {
    text-align: center;
    font-size: 20px;
    font-weight: 600;

}

.employeeTableCellHead{
    font-weight: bold;
    font-size: 24px;
}
.headingSeachParent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.employeeHeading1{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;

}
.inputBox{
    border:1px solid grey;
    border-radius: 15px;
    overflow: hidden;
    width: 350px;

}
.inputBox:focus{
    outline:grey;
}
.inputBox{
    padding: 10px 25px;
}

.employeeTableSortButton{
    border: none;
    cursor: pointer;
    background-color: white;
    padding: 8px 30px;
    border: 1px solid white;
    border-radius:25px;
    overflow: hidden;
}
.positionClass{
    position: relative;
}
.designationListDropDown{
    position: absolute;
    /* z-index: 12; */
    border: 1px solid black;
    left: 0;
    top: auto;
    right: 0;
    background-color: #fff;
    
}

.listItem{
    padding: 5px 0;
    cursor: pointer;
}

.editBtn{
    background-color: #2563eb;
    padding: 8px 20px;
    border: 1px solid #2563eb;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
    overflow: hidden;
    margin-left: 15px;
}

.arrowIcon{
    height: 15px;
    width: 21px;
}

.DropdownIcon{
    height: 17px;
    width: auto;
}
.employeeTableCellHead{
    display: flex;
    align-items: center;
    gap: 3px;
}

.chipsList{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.itemChips{
    padding: 5px 15px;
}

.itemChips {
  display: inline-block;
  padding: 6px 15px;
  background-color: #e0e7ff;
  border-radius: 20px;
  cursor: pointer;
  min-width: 20px ;
  display: flex;
  align-items: center;
  gap: 6px;
}
.crossIcon{
    height: 14px;
    width: 13px;
}

.nextPageUrl{
    font-size:16px;
    color: rgb(89, 89, 155);
    text-decoration: underline;
}
.secondClass{
    text-align: start;
}